.header {
    background-color: #004080;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    color: white;
    text-decoration: none;
}

.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}
